<% content_for :javascript_includes do %>
  <%= javascript_include_tag "index.js" %>
<% end %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3 class="text-center text-uppercase"><strong>Welcome to Open Julian</strong></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
    <p>Where you can see Julian’s biometrics in real-time
      - and interact as well. Zap him (below) and see if his
      bodyresponds. Don’t be too cruel about it now (pls).</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h4 class="text-center">Body Temperature</h4>
    <div class="temp-container">
      <p id="temp-readout"></p>
      <canvas id="temp-canvas" width=200 height=150></canvas>
    </div>
  </div>
  <div class="col-md-4">
    <h4> Heart Rate</h4>
    <div class="heart-rate-container">
    </div>
  </div>
</div>
