/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  color: #70b7f2;
  font-weight: 500;
  font-size: 16px;
}

body {
  height: 100% !important;
  background-image: url("CroppedBackGround.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper {
}

footer {
  padding-top: 20px;
}

img {
  margin: 0 auto;
}

.navbar {
  margin-bottom: 50px;
}

td.bio-icon {
  margin: 0 auto;
  width: 55px;
  padding: 0;
}

.temperature-image {
  width: 15px;
}

.brain-image {
  width: 45px;
}

.julian-title {
  font-size: 30px;
  font-family: arial;
  text-transform: uppercase;
  font-weight: bold;
}

.big-title {
  font-size: 44px;
}

.sub-header {
  font-size:19px;
  padding-top: 23px;
  line-height:20px;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    color: #3a3939;
}

.table-padless > tbody > tr > td,
.table-padless > tbody > tr > th,
.table-padless > tfoot > tr > td,
.table-padless > tfoot > tr > th,
.table-padless > thead > tr > td,
.table-padless > thead > tr > th {
    padding-bottom: 0;
    padding-top: 0;
}

h1.company-title {
  font-size: 50px;
  font-weight: bold;
}

.stat-footer {
  display: inline-block;
  margin: 20px auto;
}

.stat-footer p {
  margin-bottom: 0;
}

.logo-wrap {
  width: auto;
  height: auto;
}

.grey-text {
  color: #3a3939;
}

.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 0.79;
}

.circle:after {
  content: " ";
}

.temp-circle {
  background-color: #f79420;
}

.heart-circle {
  background-color: #e55036;
}

.gsr-circle {
  background-color: #9ce0a6;
}

.data-cell {
  width: 20px;
}
